@charset "UTF-8";
* {
  position: relative;
  font-family: "Cabin", sans-serif , 微軟正黑體, "LiHei Pro";
  letter-spacing: 1px; }

html, body {
  padding: 0px;
  margin: 0px; }

.header {
  height: 300px;
  background-color: #f3f7f7; }

.logo {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.content {
  padding: 50px; }

.maxwidth {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto; }

h1, h2, h3 {
  font-weight: 400; }

h1 {
  font-size: 40px; }

h1.small_english {
  font-size: 24px; }

h2 {
  font-size: 30px; }

h2.small_english {
  font-size: 16px; }

h3 {
  font-size: 20px; }

h3.small_english {
  font-size: 12px; }

.titlehr {
  width: 100px;
  border-bottom: solid 5px; }

h5 {
  margin-top: 40px; }

.small_english {
  margin-top: -20px; }

.button {
  display: inline-block;
  border: solid 1px;
  border-radius: 50px;
  padding: 5px 25px;
  margin-right: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: ˋ00;
  background-color: #f3f7f7;
  color: #489e3b;
  -webkit-box-shadow: 1px 5px 20px -10px #6a737b;
  box-shadow: 1px 5px 20px -10px #6a737b; }

.button_yellow {
  background-color: #fabd42;
  color: #f3f7f7; }

.button_green {
  background-color: #489e3b;
  color: #f3f7f7; }

.button_red {
  background-color: #cd0a20;
  color: #f3f7f7; }

.color_chips {
  display: inline-block;
  margin-right: 30px; }

.color_tag, .color_block {
  display: inline-block;
  vertical-align: middle; }

.color_tag {
  padding-right: 5px; }

.color_block {
  border: solid 1px;
  width: 20px;
  height: 20px; }

.color_block_green {
  background-color: #489e3b; }

.color_block_yellow {
  background-color: #fabd42; }

.color_block_lightyellow {
  background-color: #fdf050; }

.color_block_white {
  background-color: #f3f7f7; }

.color_block_red {
  background-color: #cd0a20; }

.content_green {
  background-color: #489e3b;
  color: #f3f7f7; }
  .content_green .small_english {
    color: #fdf050; }
  .content_green .titlehr {
    border-color: #fdf050; }

.content_yellow {
  background-color: #fabd42;
  color: #414143; }
  .content_yellow .small_english {
    color: #489e3b; }
  .content_yellow .titlehr {
    border-color: #489e3b; }
  .content_yellow hr {
    border-color: #414143; }

.content_white {
  background-color: #f3f7f7;
  color: #489e3b; }
  .content_white .small_english {
    color: #fabd42; }
  .content_white .titlehr {
    border-color: #fabd42; }
  .content_white hr {
    border-color: #489e3b; }
