// 顏色設定
$color_grey: #414143
$color_green: #489e3b
$color_yellow: #fabd42
$color_lightyellow: #fdf050
$color_white: #f3f7f7
$color_red: #cd0a20

$font_base_size: 10px

$max_content_width: 768px

@mixin size($w,$h)
  width: $w
  height: $h

*
  // border: solid 1px
  position: relative
  font-family: "Cabin", sans-serif , 微軟正黑體, "LiHei Pro"
  letter-spacing: 1px

html,body
  padding: 0px
  margin: 0px

// 封面區塊
.header
  height: 300px
  background-color: $color_white

.logo
  width: 350px
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)

// 內容區塊
.content
  padding: 50px

.maxwidth
  max-width: $max_content_width
  margin-left: auto
  margin-right: auto

// 標題字設定
h1, h2, h3
  font-weight: 400

h1
  font-size: $font_base_size*4
h1.small_english
  font-size: $font_base_size*2.4
h2
  font-size: $font_base_size*3
h2.small_english
  font-size: $font_base_size*1.6
h3
  font-size: $font_base_size*2
h3.small_english
  font-size: $font_base_size*1.2
.titlehr
  width: 100px
  border-bottom: solid 5px

h5
  margin-top: 40px
.small_english
  margin-top: -20px

// 按鈕設定
.button
  display: inline-block
  border: solid 1px
  border-radius: 50px
  padding: 5px 25px
  margin-right: 10px
  letter-spacing: 2px
  font-size: $font_base_size*1.5
  font-weight: ˋ00
  background-color: $color_white
  color: $color_green
  box-shadow: 1px 5px 20px -10px #6a737b

.button_yellow
  background-color: $color_yellow
  color: $color_white

.button_green
  background-color: $color_green
  color: $color_white

.button_red
  background-color: $color_red
  color: $color_white

// 色票設定
.color_chips
  display: inline-block
  margin-right: 30px

.color_tag, .color_block
  display: inline-block
  vertical-align: middle

.color_tag
  padding-right: 5px

.color_block
  border: solid 1px
  +size(20px,20px)
.color_block_green
  background-color: $color_green
.color_block_yellow
  background-color: $color_yellow
.color_block_lightyellow
  background-color: #fdf050
.color_block_white
  background-color: $color_white
.color_block_red
  background-color: $color_red

// 綠色內容區塊
.content_green
  background-color: $color_green
  color: $color_white

  & .small_english
    color: $color_lightyellow

  & .titlehr
    border-color: $color_lightyellow

// 黃色內容區塊
.content_yellow
  background-color: $color_yellow
  color: $color_grey

  & .small_english
    color: $color_green

  & .titlehr
    border-color: $color_green

  & hr
    border-color: $color_grey

// 白色內容區塊
.content_white
  background-color: $color_white
  color: $color_green

  & .small_english
    color: $color_yellow

  & .titlehr
    border-color: $color_yellow

  & hr
    border-color: $color_green