<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title The Style Guideline Redesign of Subway
  link(rel="stylesheet", href="css/style.css")
body
  .header
    img.logo(src="http://www.twsubway.com.tw/tw/assets/img/logo1-default.png", alt="subway logo")

  .content.content_green
    .maxwidth
      h5 STYLE GUIDELINE
      h1 品牌網頁視覺引導-40px 大標題
      h1.small_english English style guideline for h1 Title
      .titlehr
      br
      h2 品牌網頁視覺引導-30px 中標題
      h2.small_english  English style guideline for h2 Title
      br
      h3 品牌網頁視覺引導-20px 小標題
      h3.small_english  English style guideline for h3 Title
      br
      hr

      h5 VI COLORS
      .color_chips
        .color_tag #489e3b
        .color_block.color_block_green
      .color_chips
        .color_tag #fabd42
        .color_block.color_block_yellow
      .color_chips
        .color_tag #fdf050
        .color_block.color_block_lightyellow
      .color_chips
        .color_tag #f3f7f7
        .color_block.color_block_white
      .color_chips
        .color_tag #cd0a20
        .color_block.color_block_red

      h5 BUTTON EXAMPLE
      .button 按鈕範例
      .button.button_yellow 按鈕範例
      .button.button_green 按鈕範例
      .button.button_red 按鈕範例

  .content.content_yellow
    .maxwidth
      h5 STYLE GUIDELINE
      h1 品牌網頁視覺引導-40px 大標題
      h1.small_english English style guideline for h1 Title
      .titlehr
      br
      h2 品牌網頁視覺引導-30px 中標題
      h2.small_english  English style guideline for h2 Title
      br
      h3 品牌網頁視覺引導-20px 小標題
      h3.small_english  English style guideline for h3 Title
      br
      hr

      h5 VI COLORS
      .color_chips
        .color_tag #489e3b
        .color_block.color_block_green
      .color_chips
        .color_tag #fabd42
        .color_block.color_block_yellow
      .color_chips
        .color_tag #f3f7f7
        .color_block.color_block_white
      .color_chips
        .color_tag #cd0a20
        .color_block.color_block_red

      h5 BUTTON EXAMPLE
      .button 按鈕範例
      .button.button_yellow 按鈕範例
      .button.button_green 按鈕範例
      .button.button_red 按鈕範例

  .content.content_white
    .maxwidth
      h5 STYLE GUIDELINE
      h1 品牌網頁視覺引導-40px 大標題
      h1.small_english English style guideline for h1 Title
      .titlehr
      br
      h2 品牌網頁視覺引導-30px 中標題
      h2.small_english  English style guideline for h2 Title
      br
      h3 品牌網頁視覺引導-20px 小標題
      h3.small_english  English style guideline for h3 Title
      br
      hr

      h5 VI COLORS
      .color_chips
        .color_tag #489e3b
        .color_block.color_block_green
      .color_chips
        .color_tag #fabd42
        .color_block.color_block_yellow
      .color_chips
        .color_tag #f3f7f7
        .color_block.color_block_white
      .color_chips
        .color_tag #cd0a20
        .color_block.color_block_red

      h5 BUTTON EXAMPLE
      .button 按鈕範例
      .button.button_yellow 按鈕範例
      .button.button_green 按鈕範例
      .button.button_red 按鈕範例